# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDATABASE and CockroachDATABASE.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=port

DATABASE_URL="postgresql://{user}:{password}@{host}:{port}/{database_name}?schema=public"
DATABASE_TYPE="postgresql"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_HOST="host"
DATABASE_PORT=port
DATABASE_DATABASE_NAME="database_name"

SENTRY_DSN="sentry_dsn"

SALT_OR_ROUNDS=10
JWT_SECRET="secret"

MAIL_TRANSPORT_HOST='smtp.example.com'
MAIL_TRANSPORT_AUTH_USER='your-email@example.com'
MAIL_TRANSPORT_AUTH_PASS='your-email-password'
MAIL_DEFAULTS_FROM='No Reply" <no-reply@example.com>'
MAIL_TEMPLATE_DIR='templates'